.container{
    width: 100vw;
}
.title{
    text-align: center;
}
.box{
    border:2px solid black;
    width:30vw;
    float: left;
    margin:1rem;
    background-color: lightgray;
    margin-top: 4px;
}
.box h2{
    width:110px;
    padding: 0 2px;
    border:2px solid black;
    background-color: coral;
    margin:1px;
    float :right;
    text-align: center;
    
}
.box p{
    margin-top: 3rem;
    padding: 0 1rem;
}

.beef{
    background-color: coral;
}
.sushi{
    background-color: yellow;
}
@media (max-width :997px){
    #ch ,#bf{
        width:47%;
    }
    #sh{
        width: 96%;
    }
}

@media (max-width :767px){
    #ch ,#bf{
        width: 96%;
    }
    

}